<div class="container-fluid coco-image">
  <header class="blog-header">
    <div class="first-nav">
      <div class="col-lg-12">
        <a href="/" class="title worldwide">Worldwide</a><br/>
        <a href="/" class="title travelover">Travelover</a>
      </div>
    </div>
  </header>

  <% if user_signed_in? %>
    <a><%= link_to t('navbar.log_out'), destroy_user_session_path, method: :delete, class: "btn btn-outline-info" %></a>
    <%= link_to "Nowy post", new_post_url, class: "btn btn-outline-info" %>
    <%= link_to "Nowe zdjęcie", new_photo_url, class: "btn btn-outline-info" %>
    <%= link_to "Nowa kategoria", new_category_url, class: "btn btn-outline-info" %>
  <% elsif cookies[:username] == ENV["COOKIES"] %>
    <a><%= link_to t('navbar.log_in'), new_user_session_path, class: "btn btn-outline-info" %></a>
  <% end %>  
</div>

<div class="container-fluid">
  <nav data-toggle="sticky-onscroll" class="row navbar navbar-expand-lg navbar-dark menu-category">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="nav-item">
          <a href="/" class="<%= active_class('/') %>"><i class="fas fa-home"></i></a>
        </div>
        <ul class="navbar-nav">
          <% Category.where(ancestry: nil).each do |category| %>
            <% if true %>
              <% if category.children.count > 0 %>
                <li class="nav-item dropdown">
                  <a class="nav-link <%= category.children.any? {|c| current_page?(category_url(c))} ? 'active' : '' %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= category.name %>
                  </a>

                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% category.children.each do |c| %>
                      <%= link_to c.name, c, class:"dropdown-item" %>
                    <% end %>
                  </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to category.name, category, class: active_class(category) %>
                </li>
              <% end %>
            <% end %>
          <% end %>
          <!-- Gallery
            <li class="nav-item">
              <%= link_to "Galeria", photos_url, class: active_class(photos_url) %>
            </li>
          -->
        </ul>
      </div>
      <div class="right-side-menu">
        <div class="nav-item">
          <a href="https://www.instagram.com/worldwide_travelover" class="nav-link"><i class="fab fa-instagram white-icon"></i></a>
        </div>
        <div class="nav-item">
          <a href="https://www.facebook.com/worldwide.travelover" class="nav-link"><i class="fab fa-facebook-square white-icon"></i></a>
        </div>
        <div>
          <a href="https://pl.pinterest.com/worldwidetravelover/" class="nav-link"><i class="fab fa-pinterest-square white-icon"></i></i></a>
        </div>
      </div>
    </div>
  </nav>
</div>
