<div class="container-fluid">
  <header class=" blog-header">
    <div class="first-nav">
      <div class="col-4">
        <% if user_signed_in? %>
          <a href="/posts/new" class="btn btn-sm btn-outline-warning">New post</a>
          <a href="/photos/new" class="btn btn-sm btn-outline-warning">Add photo</a>
          <a href="/categories/new" class="btn btn-sm btn-outline-warning">New category</a>
        <% else %>

        <% end %>
      </div>
      <div class="col-4 text-center">
        <a href="/" class="main-title">Worldwide Travelover</a>
      </div>
      <div class="col-4 right-items">
        <% if user_signed_in? %>
          <a><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary" %></a>
        <% elsif cookies[:username] == ENV["COOKIES"] %>
          <a><%= link_to "Log in", new_user_session_path, class: "btn btn-sm btn-outline-secondary" %></a>
        <% end %>
      </div>
    </div>
  </header>

  <nav class="row navbar navbar-expand-lg navbar-dark menu-category">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% Category.where(ancestry: nil).each do |category| %>
          <% if true %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= category.name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% category.children.each do |c| %>
                  <%= link_to c.name, c, class:"dropdown-item" %><hr>
                <% end %>
              </div>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Gallery", photos_url, class: "nav-link" %></a>
          </li>
        <% end %>
      </ul>
      <div class="nav-item subscribe">
        <a data-toggle="modal" data-target="#exampleModal">Subscription</a>
        <%= render "shared/new_subscriber" %>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], id: "search", placeholder: "Search posts", type: "search", class: "form-control mr-sm-2" %>
        <% end %>
    </div>
  </nav>
</div>
