<div class="container-fluid">
  <header class="blog-header">
    <div class="first-nav">
      <div class="col-lg-12">
        <a href="/" class="main-title">Worldwide Travelover</a>
      </div>
    </div>
  </header>


  <% if user_signed_in? %>
    <a><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-info" %></a>
  <% elsif cookies[:username] == ENV["COOKIES"] %>
    <a><%= link_to "Log in", new_user_session_path, class: "btn btn-outline-info" %></a>
  <% end %>

  <% if user_signed_in? %>
      <%= link_to "Nowy post", new_post_url, class: "btn btn-outline-info" %>
      <%= link_to "Nowe zdjęcie", new_photo_url, class: "btn btn-outline-info" %>
      <%= link_to "Nowa kategoria", new_category_url, class: "btn btn-outline-info" %>
  <% else %>

  <% end %>



  <nav class="row navbar navbar-expand-lg navbar-dark menu-category">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% Category.where(ancestry: nil).each do |category| %>
          <% if true %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= category.name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% category.children.each do |c| %>
                  <%= link_to c.name, c, class:"dropdown-item" %><hr>
                <% end %>
              </div>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Galeria", photos_url, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <div class="nav-item subscribe">
        <a data-toggle="modal" data-target="#exampleModal">Newsletter</a>
        <%= render "shared/new_subscriber" %>
      </div>
    </div>
    <div class="nav-item subscribe">
      <a data-toggle="modal" data-target="#searchModal"><i class="fas fa-search"></i></a>
      <%= render "shared/searchbox" %>
    </div>
  </nav>
</div>
