<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <% if !cookies[:saved_subscriber] %>
          <h5 class="modal-title" id="exampleModalLabel">Zapisz się do newslettera!</h5>
        <% end %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% if cookies[:saved_subscriber] %>
        <div class="modal-body">
          <div class="form-group text-align">
            <h5>Wygląda na to, że już się zapisałeś!</h5>
            <h5>Super, że jesteś z nami na bieżąco</h5>
          </div>
        </div>
      <% else %>
        <%= simple_form_for(Subscriber.new) do |f| %>
          <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Imię:</label>
              <%= f.input :name, input_html: {class: "form-control"}, label: false%>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Email:</label>
              <%= f.input :email, input_html: {class: "form-control"}, label: false %>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Skąd o nas wiesz:</label>
              <%= f.input :source, collection: ['Media społecznościowe', 'Znajomi', 'Internet', 'Inne'], input_html: {class: "form-control"}, label: false %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit "Save", class: "btn btn-sm btn-outline-success" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
