<section class="section blog-area">
  <div class="container-fluid">
    <div id="pagewrap">
      <% if params[:tag] %>
        <div class="active-tag">
          <p class="tag-title">Tag: </p>
          <p class="tag-name"><%= params[:tag] %></p>
          <a href="<%= show_albums_path(@category)%>"><i class="far fa-times-circle"></i></a>
        </div>
      <% end %>
      <div class="row">
        <div class="col-lg-9 col-md-12">
          <div class="gallery">
            <% @photos.each do |photo| %>
              <div class="text-align">
                <div class="image">
                  <a href="<%= photo.image_url(:original, public: true) %>" data-gallery="gallery-name" data-toggle="lightbox" data-footer="<%= photo.description %>">
                    <img src="<%= photo.image_url(:thumbnail, public: true) %>" class="img-fluid">
                  </a>
                </div>
                <div>
                  <% if user_signed_in? %>
                    <button class="btn" data-clipboard-action="copy" data-clipboard-text="<%= "{{show_lightbox:#{photo.id}}}" %>">
                      Copy link for lightbox
                    </button>
                    <button class="btn" data-clipboard-action="copy" data-clipboard-text="<%= "{{download:#{photo.id}}}" %>">
                      Copy download link
                    </button>
                    Public <%= photo.public %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-lg-3 col-md-12">
          <div class="sidebar-area">
            <div class="sidebar-section tags-area">
              <h4 class="title"><b class="light-color">Tagi</b></h4>
                <% @tags.each do |tag| %>
                  <ul class="tags">
                    <li>
                      <a class="btn" href="<%= show_albums_path(@category, tag[:tag_name])%>"><%= tag[:tag_name] %></a>
                    </li>
                  </ul>
                <% end %>
            </div><!-- sidebar-section tags-area -->
          </div>
        </div>

      </div><!-- row -->
    </div>
  </div><!-- container -->
</section><!-- section -->
