<link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.min.js"></script>

<div class="container frame">
  <%= simple_form_for @photo, html: {multipart: true} do |f| %>
    <div class="form-group row">
      <div class="col-lg-8">
        <%= f.input :name, input_html: {class: "form-control form-control-sm"} %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-8">
        <%= f.input :description, input_html: {class: "form-control form-control-sm"} %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-8">
        <%= f.input :category_id, collection: @categories, input_html: {class: "form-control form-control-sm"} %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-8">
        <%= f.file_field :image, id: "upload-file"  %>
      </div>
    </div>
    <img id="preview" src=""/>
    <div class="form-group row">
      <div class="col-lg-6">
        <%= f.input :crop_x, input_html: {class: "form-control form-control-sm"} %>
      </div>
      <div class="col-lg-6">
        <%= f.input :crop_y, input_html: {class: "form-control form-control-sm"} %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-6">
        <%= f.input :crop_width, input_html: {class: "form-control form-control-sm"} %>
      </div>
      <div class="col-lg-6">
        <%= f.input :crop_height, input_html: {class: "form-control form-control-sm"} %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-8">
        <%= f.input :tag, input_html: {class: "form-control form-control-sm"} %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-8">
        <%= f.input :public, as: :boolean %>
      </div>
    </div>
    <%= f.button :submit, class: "btn btn-success btn-block" %>
  <% end %>
</div>
