<div class="container frame">
  <%= simple_form_for @post do |f| %>
    <div class="form-group row">
      <label class="col-lg-1 col-form-label col-form-label-sm">Category</label>
      <div class="col-lg-8">
        <%= f.input :category_id, collection: @category, input_html: {class: "form-control form-control-sm"}, label: false %>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-1 col-form-label col-form-label-sm">Title</label>
      <div class="col-lg-8">
        <%= f.input :title, input_html: {class: "form-control form-control-sm"}, label: false %>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-1 col-form-label col-form-label-sm">Published date</label>
      <div class="col-lg-8">
        <%= f.input :published, input_html: {class: "form-control form-control-sm"}, label: false %>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-1 col-form-label col-form-label-sm">Introduction</label>
      <div class="col-lg-8">
        <%= f.input :introduction, input_html: {class: "form-control form-control-sm"}, label: false %>
      </div>
    </div>
    <div class="form-group">
      <%= f.input :content, input_html: {id: "editor", class: "form-control form-control-lg big-textarea"}, label: false, as: :text %>
    </div>
    <div class="form-group row">
      <label class="col-lg-1 col-form-label col-form-label-sm">Cover</label>
      <div class="col-lg-8">
        <%= f.file_field :cover, label: false, id: "upload-cover" %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="preview-container">
          <img id="preview" data-crop="<%= {x: @post.crop_x, y: @post.crop_y, width: @post.crop_width, height: @post.crop_height}.to_json %>" src="<%= @post.cover_url(:original, public: true) if @post.persisted? %>"/>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="preview-container">
          <img id="preview-rectangle" data-crop="<%= {x: @post.crop_rectangle_x, y: @post.crop_rectangle_y, width: @post.crop_rectangle_width, height: @post.crop_rectangle_height}.to_json %>" src="<%= @post.cover_url(:original, public: true) if @post.persisted? %>"/>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-6">
        <%= f.input :crop_x, input_html: {class: "form-control form-control-sm"} %>
      </div>
      <div class="col-lg-6">
        <%= f.input :crop_y, input_html: {class: "form-control form-control-sm"} %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-6">
        <%= f.input :crop_width, input_html: {class: "form-control form-control-sm"} %>
      </div>
      <div class="col-lg-6">
        <%= f.input :crop_height, input_html: {class: "form-control form-control-sm"} %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-6">
        <%= f.input :crop_rectangle_x, input_html: {class: "form-control form-control-sm"} %>
      </div>
      <div class="col-lg-6">
        <%= f.input :crop_rectangle_y, input_html: {class: "form-control form-control-sm"} %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-6">
        <%= f.input :crop_rectangle_width, input_html: {class: "form-control form-control-sm"} %>
      </div>
      <div class="col-lg-6">
        <%= f.input :crop_rectangle_height, input_html: {class: "form-control form-control-sm"} %>
      </div>
    </div>
    <%= f.submit "Save", class: "btn btn-success btn-block" %>
  <% end %>
</div>

<script>
  var simplemde = new SimpleMDE({ element: $("#editor")[0] });
  simplemde.value();
</script>
