<% content_for(:meta_og) do %>
  <meta property="og:title" content="Worldwide-Travelover" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="Podróże małe i duże. Blog o podróżach tych po Polsce i po świecie. Ciekawostki z podróży, mini informator turystyczny, niezbędne porady." />
  <meta property="og:image" content="https://s3.eu-central-1.amazonaws.com/photos-worldwide/small-coco.jpg" />
<% end %>

<div>
  <% if @posts.blank? %>
    <h6 style="padding-left: 220px">Nie ma postów pasujących do tego zapytania <%= params[:search].upcase %>.</h6>
  <% end %>
</div>

<section class="section blog-area">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-12">
        <% @posts.each do |post| %>
          <div class="blog-posts">
            <div class="single-post">
              <div class="image-wrapper"><img src="<%= post.cover_url(:original) %>"></div>

              <h3 class="title"><a href="#"><b class="light-color"><%= link_to "#{post.title}", post %></b></a></h3>
              <p class="date"><em><%= I18n.l(post.published.to_date, format: :long) %></em></p>
              <p><%= post.introduction %></p>
              <b><%= link_to "Czytaj więcej...", post, class: "btn read-more-btn" %></b>
            </div><!-- single-post -->
          </div>
        <% end %>
        <%= will_paginate @posts, previous_label: '&laquo;', next_label: '&raquo;', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>

      <%= render 'shared/new_sidebar'%>
    </div><!-- row -->
  </div><!-- container -->
</section><!-- section -->

