<% if @posts.blank? %>
  <h4>There are no posts containing the term <%= params[:search] %>.</h4>
<% end %>

<div class="container-fluid margin">
  <div class="articles">
    <div class="row">
      <div style="
      padding-right: 35px;" class="col-md-9">
        <% @posts.each do |post| %>
          <article class="article-container">
            <div class="article-card">
               <h1 class="center-title">
                 <%= link_to "#{post.title}", post, class: "post-title" %>
               </h1>
               <div class="fancy-line">
                 <span class="article-time">
                   <%= post.created_at.to_date.strftime("%d %B %Y") %>
                 </span>
               </div>
              <div class="card-body"><%= (strip_tags(markdown(post.content)).truncate_words(55, omission: '... (continued)')) %></div>
              <%= link_to "Czytaj więcej", post, class: "read-more" %>

            </div>
            <img class="article-image" src="<%= post.cover_url(:thumbnail) %>">
          </article>
        <% end %>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <%= render"shared/about_me" %>
        </div>
        <div class="sidebar">
          <%= render"shared/badges" %>
          <%= render"shared/instagram_feed" %>
          <%= render"shared/facebook" %>
        </div>
      </div>
    </div>
  </div>
</div>
