<% content_for(:meta_og) do %>
  <meta property="og:title" content="Worldwide-Travelover" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="Podróże małe i duże. Blog o podróżach tych po Polsce i po świecie. Ciekawostki z podróży, mini informator turystyczny, niezbędne porady." />
  <meta property="og:image" content="https://s3.eu-central-1.amazonaws.com/photos-worldwide/small-coco.jpg" />
<% end %>

<section class="section blog-area">
  <div class="container">
    <div class="row">
    
      <div class="category-header">
        <% if @posts.blank? %>
          <h3 class="title"><b class="light-color">Nie ma postów pasujących do tego zapytania</b></h3>
          <p class="category-name"><%= params[:search].to_s.upcase %></p>
        <% end %>
        </div>

      <div class="col-lg-8 col-md-12">
        <% @posts.each do |post| %>
          <div class="blog-posts">
            <div class="single-post">
              <div class="image-wrapper">
                <picture>
                  <source type="image/webp" srcset="<%= post.cover_url(:rectangle_webp) %>">
                  <img loading="lazy" src="<%= post.cover_url(:rectangle) %>">
                </picture>
              </div>

							<div class="icons">
								<div class="left-area">
                  <%= link_to post.category.name, post.category, class: "btn category-btn bold uppercase" %>
								</div>
							</div>

              <h3 class="title"><b class="light-color"><%= link_to "#{post.title}", post %></b></h3>
              <h6 class="date"><em><%= I18n.l(post.published.to_date, format: :long) %></em></h6>
              <p><%= post.introduction %></p>
              <b><%= link_to "CZYTAJ WIĘCEJ...", post, class: "btn read-more-btn" %></b>
            </div><!-- single-post -->
          </div>
        <% end %>
        <%= will_paginate @posts, previous_label: '&laquo;', next_label: '&raquo;', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>

      <%= render 'shared/new_sidebar' %>
    </div><!-- row -->
  </div><!-- container -->
</section><!-- section -->
