<div class="category-header">
  <% if @posts.blank? %>
    <h6 style="padding-left: 220px">Nie ma postów pasujących do tego zapytania <%= params[:search].upcase %>.</h6>
  <% end %>
</div>

<div class="container">
  <div class="articles">
    <div class="row">
      <div class="col-lg-9 col-12">
        <% @posts.each do |post| %>
          <article class="article-container">
            <div class="article-card">
              <div class="article-image">
                <img class="img-thumbnail" src="<%= post.cover_url(:thumbnail) %>">
              </div>
              <div class="article-body">
                <h1 style="margin: 0;">
                  <%= link_to "#{post.title}", post, class: "post-title" %>
                </h1>
                <div class="center-date">
                  <span class="article-time">
                    <%= I18n.l(post.published.to_date, format: :long) %>
                  </span>
                </div>
                <div class="card-body">
                  <%= post.introduction %>
                </div>
                  <%= link_to "Czytaj więcej...", post, class: "read-more" %>
              </div>
            </div>
          </article>
        <% end %>
        <div class="apple_pagination">
          <%= will_paginate @posts, :container => false %>
        </div>
      </div>
      <%= render 'shared/sidebar'%>
    </div>
  </div>
</div>
