<% if @posts.blank? %>
  <h4>There are no posts containing the term <%= params[:search] %>.</h4>
<% end %>

<div class="container-fluid margin">
  <div class="articles">
    <div class="row">
      <div class="col-lg-9 col-12">
        <% @posts.each do |post| %>
          <article class="article-container">
            <img class="card-img-top article-image img-thumbnail" src="<%= post.cover_url(:medium) %>">
            <div class="article-card">
              <h1 class="center-title">
                <%= link_to "#{post.title}", post, class: "post-title" %>
              </h1>
              <div class="fancy-line">
                <span class="article-time">
                  <%= post.created_at.to_date.strftime("%d %B %Y") %>
                </span>
              </div>
             <div class="card-body"><%= (strip_tags(markdown(post.content)).truncate_words(95, omission: '... (continued)')) %></div>
             <%= link_to "Czytaj więcej", post, class: "read-more" %>
            </div>
          </article>
        <% end %>
      </div>
      <div class="col-lg-3 col-12">
        <div class="sidebar">
          <%= render"shared/about_me" %>
        </div>
        <div class="sidebar">
          <%= render"shared/badges" %>
          <%= render"shared/instagram_feed" %>
          <%= render"shared/facebook" %>
        </div>
      </div>
    </div>
  </div>
</div>
