<% if @posts.blank? %>
  <h4>Nie ma postów pasujących do tego zapytania <%= params[:search] %>.</h4>
<% end %>

<div class="container">
  <div class="articles">
    <div class="row">
      <div class="col-lg-9 col-12">
        <% @posts.each do |post| %>
          <article class="article-container">
            <div class="article-card flex">
              <div class="article-image">
                <img class=" img-thumbnail" src="<%= post.cover_url(:thumbnail) %>">
              </div>
              <div class="article-body">
                <h1 style="margin: 0;">
                  <%= link_to "#{post.title}", post, class: "post-title" %>
                </h1>
                <div>
                  <span class="article-time">
                    <%= post.published.to_date.strftime("%d %B %Y") %>
                  </span>
                </div>
                <div class="card-body">
                  <%= post.introduction %>
                </div>
                  <%= link_to "Czytaj więcej...", post, class: "read-more" %>
              </div>
            </div>
          </article>
        <% end %>
      </div>
      <div class="col-lg-3 col-12">
        <div class="sidebar">
          <%= render"shared/about_me" %>
        </div>
        <div class="sidebar">
          <%= render"shared/badges" %>
          <%= render"shared/instagram_feed" %>
          <%= render"shared/facebook" %>
        </div>
      </div>
    </div>
  </div>
</div>
