<% content_for(:meta_og) do %>
  <meta property="og:title" content="Worldwide-Travelover" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="Podróże małe i duże. Blog o podróżach tych po Polsce i po świecie. Ciekawostki z podróży, mini informator turystyczny, niezbędne porady." />
  <meta property="og:image" content="https://s3.eu-central-1.amazonaws.com/photos-worldwide/small-coco.jpg" />
<% end %>

<div class="category-header">
  <% if @posts.blank? %>
    <h6 style="padding-left: 220px">Nie ma postów pasujących do tego zapytania <%= params[:search].upcase %>.</h6>
  <% end %>
</div>

<div class="container">
  <div class="articles">
    <div class="row">
      <div class="col-lg-9 col-12">
        <% @posts.each do |post| %>
          <article class="article-container">
            <div class="article-card">
              <div class="article-image">
                <img class="img-thumbnail" src="<%= post.cover_url(:thumbnail) %>">
              </div>
              <div class="article-body">
                <div class="post-title">
                  <%= link_to "#{post.title}", post %>
                </div>
                <div class="center-date">
                  <span class="article-time">
                    <%= I18n.l(post.published.to_date, format: :long) %>
                  </span>
                </div>
                <div class="card-body with-padding">
                  <%= post.introduction %>
                </div>
                  <%= link_to "Czytaj więcej...", post, class: "read-more" %>
              </div>
            </div>
          </article>
        <% end %>
        <%= will_paginate @posts, previous_label: '&laquo;', next_label: '&raquo;', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
      <%= render 'shared/sidebar'%>
    </div>
  </div>
</div>
