<% content_for(:meta_og) do %>
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:published_time" content="<%= I18n.l(@post.published.to_date, format: :long) %>" />
  <meta property="og:description" content="<%= @post.introduction %>" />
  <meta property="og:image" content="<%= @post.cover_url(:thumbnail, public: true) %>" />
<% end %>

<section class="blog-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="blog-posts">
          <% if user_signed_in? %>
            <div class="admin-options">
              <%= link_to "Edit", edit_post_path(@post), class: "btn btn-sm btn-outline-warning edit-option" %>
              <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-warning edit-option" %>
            </div>
          <% end %>
          <div class="single-post">
            <div class="image-wrapper"><img src="<%= @post.cover_url(:medium) %>" alt="Blog Image"></div>
            <div class="icons">
              <div class="left-area">
                <a class="btn category-btn" href="#"><b><%= @post.category.name %></b></a>
              </div>
            </div>
            <h3 class="title"><b class="light-color"><%= @post.title %></b></h3>
            <h6 class="date"><em><%= I18n.l(@post.published.to_date, format: :long) %></em></h6>
            <div class="single-post-body"><%= markdown(@post.content) %></div>
          </div><!-- single-post -->

          <div>
            <div id="shareIconsCount"></div>
            <div class="disqus">
              <%= render 'shared/disqus' %>
            </div>
          </div>

        </div><!-- blog-posts -->
      </div><!-- col-lg-8 -->
      <%= render 'shared/new_sidebar'%>
    </div><!-- row -->
  </div><!-- container -->
</section><!-- section -->

<script type="text/javascript">
  showShareIcons("<%= @post.title %>");
</script>