<div class="container frame">
  <%= simple_form_for @category do |f| %>
    <div class="form-group row">
      <div class="col-lg-8">
        <%= f.input :name, input_html: {class: "form-control form-control-sm"} %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-8">
        <%= f.input :parent_id, collection: @parent_category, required: false, input_html: {class: "form-control form-control-sm"} %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-8">
        <%= f.file_field :cover %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-8">
        <%= f.input :show_in_gallery, as: :boolean %>
      </div>
    </div>

    <%= f.button :submit, class: "btn btn-block btn-success" %>
  <% end %>
</div>
