<% content_for(:meta_og) do %>
  <meta property="og:title" content="<%= @category.name %>" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://s3.eu-central-1.amazonaws.com/photos-worldwide/small-coco.jpg" />
<% end %>


<section class="section blog-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="category-header">
          <h3 class="title"><b class="light-color"><%= @category.name %></b></h3>
        </div>
        <% @posts.each do |post| %>
          <div class="blog-posts">
            <div class="single-post">
              <div class="image-wrapper"><img src="<%= post.cover_url(:medium) %>"></div>

              <h3 class="title"><a href="#"><b class="light-color"><%= link_to "#{post.title}", post %></b></a></h3>
              <p class="date"><em><%= I18n.l(post.published.to_date, format: :long) %></em></p>
              <p><%= post.introduction %></p>
              <b><%= link_to "Czytaj więcej...", post, class: "btn read-more-btn" %></b>
            </div><!-- single-post -->
          </div>
        <% end %>
      </div>

      <%= render 'shared/new_sidebar' %>
    </div><!-- row -->
  </div><!-- container -->
</section><!-- section -->
