<% content_for(:meta_og) do %>
  <meta property="og:title" content="<%= @category.name %>" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://s3.eu-central-1.amazonaws.com/photos-worldwide/small-coco.jpg" />
<% end %>


<section class="section blog-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="category-header">
          <h3 class="title"><b class="light-color"><%= @category.name %></b></h3>
        </div>
        <% @posts.each do |post| %>
          <div class="blog-posts">
            <div class="single-post">
              <div class="image-wrapper"><img loading="lazy" src="<%= post.cover_url(:rectangle) %>"></div>

							<div class="icons">
								<div class="left-area">
									<a class="btn category-btn without-hover uppercase"><b><%= post.category.name %></b></a>
								</div>
							</div>

              <h3 class="title"><b class="light-color"><%= link_to "#{post.title}", post %></b></h3>
              <h6 class="date"><em><%= I18n.l(post.published.to_date, format: :long) %></em></h6>
              <p><%= post.introduction %></p>
              <b><%= link_to "CZYTAJ WIĘCEJ...", post, class: "btn read-more-btn" %></b>
            </div><!-- single-post -->
          </div>
        <% end %>
      </div>

      <%= render 'shared/new_sidebar' %>
    </div><!-- row -->
  </div><!-- container -->
</section><!-- section -->
