<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "jssocials" %>
    <%= stylesheet_link_tag "jssocials-theme-plain" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "jssocials.min" %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <%= yield %>
    <script id="dsq-count-scr" src="//worldwide-travelover-new.disqus.com/count.js" async></script>
  </body>
</html>
