<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "jssocials" %>
    <%= stylesheet_link_tag "jssocials-theme-plain" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "jssocials.min" %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= render 'shared/nav' %>

    <div class="holygrail-body">
      <%= yield %>
    </div>

    <footer class="footer">
      <p class="made"> &copy; 2017 made with love by Worldwide-Travelover</p>
    </footer>

    <script id="dsq-count-scr" src="//worldwide-travelover-new.disqus.com/count.js" async></script>
  </body>

</html>
